*
{
margin:0;
padding:0;
}
body
{
background-color:#F5F5F5;
}
.container
{
text-align:center;
font-size:50px;
background-color:white;
box-shadow:black blur;
margin-top:50x;
}
.b
{
font-size:25px;
}
.p1
{
margin-top:5px;
font-size:15px;
}
{}
.user
{
margin-top:30px;
padding:15px;
font-size:12px;
text-align:left;
}
.id
{
height:35px;
width:90vw;
background-color:#F5F5F5;
border-style:none;
}
.pass
{
text-align:left;
font-size:12px;
padding:15px;
}
.for
{
text-decoration:none;
font-size:15px;
position:absolute;
text-align:left;
padding-left:35vw;
color:grey;
}
.sub
{
height:40px;
width:80px;
border-radius;40px;
background-color:yellow;
border-style:none;
margin:40px;
}
.container2
{
background-color:#F5F5F6;
height:100px;
}
.item3
{
text-align:center;
font-weight:bold;
}
.a2
{
color:black;
text-decoration:none;
}
.footer
{
background-color:white;
color:black;
position:absolute;
top:680px;
}

